@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.ActionLink("Book a room!", "CreateBooking", "Booking", new { errorMessage = "" }, null)</p>
<p>@Html.ActionLink("Show all bookings", "ShowAllBookings", "Booking")</p>
<p>@Html.ActionLink("Show bookings within period", "SelectBookingPeriod", "Booking")</p>
<p>@Html.ActionLink("Çreate a room", "CreateRoom", "Room")</p>
<p>@Html.ActionLink("Show all rooms", "ShowAllRooms", "Room")</p>
