@model DomainModel.Booking

@{
    ViewBag.Title = "BookedRoom";
}

<h2>BookedRoom</h2>

<fieldset>
    <legend>Booking</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDatum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDatum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EindDatum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EindDatum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoomId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomId)
    </div>

    <div class="display-label">
        @ViewBag.Voornaam
    </div>
    <div class="display-field">
        @ViewBag.Achternaam
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Prijs)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prijs)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Capaciteit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capaciteit)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Ok", "Invoice", "Booking")
    @Html.ActionLink("Cancel", "Index", "Hotel") |
</p>
