@model PROGCS05_Dion.Models.StartBookingViewModel

@{
    ViewBag.Title = "CreateBooking";
}

<h2>CreateBooking</h2>

@using (Html.BeginForm("ChooseRoom", "Booking")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>StartBookingViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.BeginDatum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BeginDatum)
            @Html.ValidationMessageFor(model => model.BeginDatum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EindDatum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EindDatum)
            @Html.ValidationMessageFor(model => model.EindDatum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Capaciteit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Capaciteit)
            @Html.ValidationMessageFor(model => model.Capaciteit)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "ShowAllRooms", "Room")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
