@model DomainModel.Guest

@{
    ViewBag.Title = "DetailsGuest";
}

<h2>DetailsGuest</h2>

<fieldset>
    <legend>Guest</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookingId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookingId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Voornaam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Voornaam)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tussenvoegsel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tussenvoegsel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Achternaam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Achternaam)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GeboorteDatum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GeboorteDatum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ManOfVrouw)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ManOfVrouw)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Adres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Adres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Postcode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Postcode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Woonplaats)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Woonplaats)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Home", "Index", "Hotel")
</p>
