@model IEnumerable<DomainModel.Guest>

@{
    ViewBag.Title = "ShowAllGuests";
}

<p>
    @Html.ActionLink("Home", "Index", "Hotel")
</p>

<h2>ShowAllGuests</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tussenvoegsel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achternaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeboorteDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManOfVrouw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Woonplaats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tussenvoegsel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achternaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeboorteDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManOfVrouw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Woonplaats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditGuest", new { id = item.Id }) |
                @Html.ActionLink("Details", "DetailsGuest", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteGuest", new { id = item.Id })
                @Html.ActionLink("Show booking", "DetailsBooking", "Booking", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
