@model DomainModel.Room

@{
    ViewBag.Title = "DetailsRoom";
}

<h2>DetailsRoom</h2>

<fieldset>
    <legend>Room</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Capaciteit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capaciteit)
    </div>

    <table>
        <tr>
            <th>
                Begin
            </th>
            <th>
                Eind
            </th>
            <th>
                Link
            </th>
            <th></th>
        </tr>
      </table>

    @foreach (var item in Model.BookingList)
    {
        <table>
            <tr>
                <td>
                    @Html.DisplayFor(model => item.StartDatum)
                </td>
                <td>
                    @Html.DisplayFor(model => item.EindDatum)
                </td>
                <td>
                    @Html.ActionLink("Go to booking", "DetailsBooking", "Booking", new { id = item.Id }, null)
                </td>
            </tr>
        </table>
    }
</fieldset>


<p>
    @Html.ActionLink("Edit", "EditRoom", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "ShowAllRooms")
</p>
